# Environments
.env
.venv/
venv/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Testing / Coverage
.pytest_cache/
.mypy_cache/
.coverage

# Build and distribution
dist/
build/